%footer.sign__up--footer
  %ul.sign__up--footer__terms
    %li.terms__pribacy
      %a{href: "#"} プライバシーポリシー
    %li.terms__rule
      %a{href: "#"} メルカリ利用規約
    %li.terms__specified
      %a{href: "#"} 特定商取引に関する表記
  .sign__up--footer__logo
    %a{href: "#"}
      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?376951604"}
  %p
    %small
      © 2019 Mercari
