.sign__up--wrapper
  %header
    = render "./sign/sign_up--header"
  .main
    .main__box
      .main__box--header
        %h1
          新規会員登録
      .main__box--contents
        .contents__regist
          %a.contents__regist--mail{href: "/registrations", method: "get" }
            %i.far.fa-envelope
            メールアドレスで登録
          %button.contents__regist--facebook
            %i.fab.fa-facebook-square
            Facebookで登録
          %button.contents__regist--google
            Googleで登録
  = render './sign/sign_up_footer'
