.wrapper
  %header
    %a{:href => "#"}
      %img.logo{alt: "", src: "https://i.pinimg.com/originals/a5/96/81/a59681532dc173741b66002df92ee9d6.png"}
  / /header
  .main
    .main-box
      .main-box_header
        %h2
          新規会員登録
      .main-box
        %ul.regist
          %li.mail メールアドレスで登録
          %li.facebook facebookで登録
          %li.google googleで登録
  %footer
    %ul.terms
      %li.pribacy
        %a{:href => "#"} プライバシーポリシー
      %li.rule
        %a{:href => "#"} メルカリ利用規約
      %li.specified
        %a{:href => ""} 特定商取引に関する表記
