.registration_finish
  %header
    = render "./sign/sign_up--header"
    .registration_bar
      %ol
        %li
          会員情報
          .nav__bar.nav__bar--first.phone__bar--after
        %li
          電話番号認証
          .nav__bar.nav__bar--first.phone__bar
        %li
          お届け先住所入力
          .nav__bar.nav__bar--first.phone__bar
        %li
          支払い方法
          .nav__bar.nav__bar--first.phone__bar
        %li.l--first
          完了
          .nav__bar.nav__bar--last.phone__bar

  .finish_main
    .finish_main__container
      .finish_main__container--header
        %h2 会員登録完了
      .finish_main__container--main
        %form.finish_form{action: "registrations", method: "get"}
          .form__child
            %p.main_text
              ありがとうございます。
              %br
              会員登録が完了しました。
          .form__child
            %button{type: "submit"}メルカリをはじめる

  = render "./sign/sign_up_footer"
