.default-countainer
  .header


%main.l-container
  .l-side
    %nav.l-side__mypage-nav
      %ul.l-side__mypage-nav__list__item
        %li.nowhere
          マイページ
          %i.fa.fa-angle-right
        %li
          お知らせ
          %i.fa.fa-angle-right
        %li
          やることリスト
          %i.fa.fa-angle-right
        %li
          いいね！一覧
          %i.fa.fa-angle-right
        %li
          出品する
          %i.fa.fa-angle-right
        %li
          出品した商品 - 出品中
          %i.fa.fa-angle-right
        %li
          出品した商品 - 取引中
          %i.fa.fa-angle-right
        %li
          出品した商品 - 売却済み
          %i.fa.fa-angle-right
        %li
          購入した商品 - 取引中
          %i.fa.fa-angle-right
        %li
          購入した商品 - 過去の取引
          %i.fa.fa-angle-right
        %li
          ニュース一覧
          %i.fa.fa-angle-right
        %li
          評価一覧
          %i.fa.fa-angle-right
        %li
          ガイド
          %i.fa.fa-angle-right
        %li
          お問い合わせ
          %i.fa.fa-angle-right
      %h3.l-side__mypage-nav__head メルペイ
      %ul.l-side__mypage-nav__list__item
        %li
          売上・振込申請
          %i.fa.fa-angle-right
        %li
          ポイント
          %i.fa.fa-angle-right
      %h3.l-side__mypage-nav__head 設定
      %ul.l-side__mypage-nav__list__item
        %li
          プロフィール
          %i.fa.fa-angle-right
        %li
          住所変更
          %i.fa.fa-angle-right
        %li
          支払い方法
          %i.fa.fa-angle-right
        %li
          メール/パスワード
          %i.fa.fa-angle-right
        %li
          本人情報
          %i.fa.fa-angle-right
        %li
          電話番号の確認
          %i.fa.fa-angle-right
        %li
          ログアウト
          %i.fa.fa-angle-right
  .l--card_add
    %form.card__form{action: "/card_add/:card_add_id/crejit_confirmation", method: "get"}
      .card__form--header
        %h2 支払い方法
      .card__form--main
        .form_head
          %h3 クレジットカード一覧
        .form_button
          %button
            = link_to do
              %i.far.fa-credit-card
              クレジットカードを追加する
        .form_detail
          =link_to do
            支払い方法について
            %i.fa.fa-angle-right
