.l-chapter-container{
  width: 700px;
  height: 568px;
  background: $white;
  margin: 0;
  padding: 0;
  &__head{
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-weight: bold;
  }
  &__icon{
    height: 60px;
     padding: 72px 16px 24px;
     background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?40116333);
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     font-size: 0;
     figure{
      height: 60px;
      width: 60px;
      display: inline-block;
      margin: 0;
      vertical-align: middle;
     }
     img {
      border-radius: 50%;
      margin-top: 10px;
      vertical-align: middle;
    }
  }
  &__comment{
    padding: 40px 16px;
  }
}

.input-default{
  height: 28px;
  width: 186px;
}

.textarea-default{
    height: 194px;
    display: block;
    width: 649px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.btn-red{
  margin-top: 16px;
  height: 48px;
  width: 100%;
  color: $white;
  background: #ea352d;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
}