@import "./reset";
@import "./mixin/_sign__up--footer";
@import "./mixin/_registration__header";
@import "./mixin/sns_icon";
@import "./config/color";

*{
  box-sizing: border-box;
}
html{
  overflow-y: auto;
  height: 756px;
  body{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    position: relative;
    .sign_up{
      height: 756px;
      background-color: $background-all;
      @include registration_header();
      .main{
        height: 400px;
        text-align: center;
        text-decoration: none;
        &__box{
          background-color: $white;
          width: 700px;
          height: 100%;
          margin: 0 auto;
          &--header{
            height: 100px;
            border-bottom: 1px solid #eee;
            h1{
              font-family:monospace;
              font-size: 22px;
              padding: 32px 16px;
            }
          }
          &--contents{
            padding: 64px;
            .contents__regist{
              max-width: 320px;
              list-style: none;
              height: 184px;
              margin: 0 auto;
              &--mail{
                text-decoration: none;
                color: #000;
                position: relative;
                background-color: #eee;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                i{
                  @include sns_icon();

                  color: $border-gray;
                  font-size: 20px;
                }
              }
              &--facebook{
                margin: 16px 0 0;
                background-color: #385185;
                color: $white;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                position: relative;
                i{
                  @include sns_icon();

                  color: $white;
                  background: #385185;
                  font-size: 30px;
                }
              }
              &--google{
                margin: 16px 0 0;
                background: no-repeat;
                background-color: $white;
                background-image: url('http://image.news.livedoor.com/newsimage/7/c/7cfd3_1223_ddf1a242_1acb6e23-m.jpg') ;
                background-size: 6%;
                background-position:20px;
                border: #979797 solid 1px;
                color: #333;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                position: relative;
              }
            }
          }
        }
      }
      @include sign__up--footer();
    }
  }
}
