@mixin notfound{
  color: #ccc;
  padding: 160px 0 60px;
  background-image: url(//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?72826626);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 120px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
