@import "./config/color";

@mixin next__button(){
  button{
    margin: 40px 0 0;
    background: $background-red;
    border: 1px solid $background-red;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    min-height: 1.5em;
  }
}
